.checkout-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.back-to-cart {
  background-color: #f0f0f0;
  border: none;
  padding: 10px 15px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 4px;
}

.checkout-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-button {
  padding: 10px;
  color: black;
  border: none;
  cursor: pointer;
  text-align: left;
  border-radius: 4px;
  width: 30%;
  height: 45px;
}

.checkout-section {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  width: 30%;
}



.order-summary {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  width: 35%;
  margin-left: 620px;
  
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.payment-option {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  text-align: left;
  border-radius: 4px;
}

.payment-fields {
  margin-top: 20px;
}

.order-summary ul {
  list-style-type: none;
  padding: 0;
  
}

.order-summary li {
  margin-bottom: 10px;

}

.place-order-btn {
  display: block;
  width: 32%;
  padding: 15px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 620px;
  height: 45px;
}

.place-order-btn:hover {
  background-color: darkred;
}

.checkout-container h1 {
  margin-bottom: 30px;
}